services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=mydatabase'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - 50600:5432

  adminer:
    image: adminer
    ports:
      - 50690:8080
    depends_on:
      - postgres